/* 共通部分 */
html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
}

/* background image */

.big-bg {
  position: relative; /* 配置：親要素 */
  width: 100%; 
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(images/main-bg.jpg);
  min-height: 100vh;
}

/* header */

.logo {
  width: 150px;
  margin-top: 8px;
}

.main-nav {
  display: flex;
  font-size: 1.1rem;
  margin-top: 48px;
  list-style: none;
}

.main-nav li{
  margin-left: 32px;
  font-family: 'Caveat Brush', cursive;
}

.main-nav a {
  color: #103942;  
}

.page-header {
  display: flex;
  justify-content: space-between;
}

/* navi animation */

.main-nav a::after {
  border-bottom: solid 2px #103942;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

a:hover::after {
  width: 100%;
}


/* HOME */

.home-content .menu-content {
  text-align: center;
  margin-top: 10%;
}

.page-title {
  font-weight: bold;
  font-size: 2em;
}
 
.sentence {
  position: absolute; /* 配置：子要素 */
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  font-size: 1.125rem;
  color: #fff;
  font-family: 'Noto Serif JP', serif;
  background-color: rgba(16, 57, 66, 0.3);
  border-radius: 8px;
}


/* footer */

footer {
  text-align: center;
  padding: 26px 0;
}

footer p {
  color: #103942;
  font-size: 0.875rem;
}

.circle {
  display: inline-block; 
  height:50px;
  width:50px;
  border-radius:50%;
  line-height:50px;
  text-align:center;
  margin-left: 8px;
  background-color: #fff;
  -webkit-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
 }

 .circle:hover {
  transform: translateY(-0.25em);
 }

 .icon {
   color: black;
 }



